.box-heading {
  background: greenyellow;
  text-align: center;
  font-size: 2em;
  border-radius: 14px 14px 0px 0px;
}

.main-container-symols {
  min-width: 300px;
  background: pink;
  max-width: 301px;
  border-radius: 14px;
}

.boxx-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  gap: 5px;
  justify-content: center;
  padding: 7px;
  max-height: 300px;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* border-radius: 10px; */
}

.element {
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block ; */
  background: rgb(218, 248, 108);
  min-height: 40px;
  max-width: 40px;
  min-width: 30px;
  border-radius: 10px;
}

/* width of scrollbar */
.boxx-container::-webkit-scrollbar {
  width: 8px;
}

/* background of track */
.boxx-container::-webkit-scrollbar-track {
  background: #111; /* dark track */
  border-radius: 10px;
}

/* scrollbar thumb (the moving part) */
.boxx-container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #39ff14, #00ffcc); /* neon green → cyan */
  border-radius: 10px;
}

/* on hover */
.boxx-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00ffcc, #39ff14);
}
