.displaynameContainer{
    text-align: center;
    padding: 5px 3px;
    width: 100%;
    min-height: 50px;
    background: ghostwhite;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* align-items: center; */
}
.innerdiv{
    /* background: rgb(13, 13, 17); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 19px;
    color: white;
    /* border-radius: 10px; */
    /* align-items: center; */
}

.naming{
    /* color: red; */
    background: rgba(3, 0, 10, 0.808);
    padding: 6px 18px;
}

.copy-btn{
    padding: 5px 10px;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}