.displaynameContainer{
    text-align: center;
    padding: 5px 3px;
    width: 100%;
    min-height: 50px;
    background: ghostwhite;
    display: flex;
    align-items: center;
    /* align-items: center; */
}
.innerdiv{
    background: rgb(13, 13, 17);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* align-items: center; */
}

.naming{
    color: red;
    background: pink;
    padding: 6px 18px;
}

.copy-btn{
    padding: 5px 10px;
}